input.form-control {
    margin-bottom: 5px;
}

html, body, .full-size {
    height: 100%;
    overflow-x: hidden;
}


a:hover, li a:hover {
    text-decoration: none !important;
    cursor: pointer;
}

.btn {
    margin: 8px;
}

.content-container {
    padding: 65px 30px 10px 30px;
    height: 100%;
}

.row {
    padding: 10px 0px;
}

.list {
    list-style-type: none;
    padding: 0;

}

.website-list li, .page-list li {
    padding: 10px;
}

.side-panel {
    border-right: solid 1px #d3d3d3;
    height: 100%;
}

/* Nav Bar */
.navbar-header {
    padding: 0 5px;
}

.navbar-text {
    display: inline-block;
    padding: 0 8px 0px 0px;
    font-size: 20px;
}

.navbar-text:hover {
    text-decoration: none;
    cursor: default;
}

/* Website List */

.fa-cog, .fa-bars {
    float: right;
    padding: 0 5px;
}

/* Widget */
.widget-list li, .widget-type-list li {
    padding: 7px 0;
}

.widget-content {
    display: inline-block;
    width: 85%;
}

.widget-content img {
    width: 60%;

}
.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .side-panel {

    }

}