

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a class=" navbar-link " href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a></p>
        <p class="navbar-text pull-right">
            <a ng-click="model.updatePage(model.page)" class="navbar-link">
                <i class="fa fa-check" aria-hidden="true"></i>
            </a>
        </p>
        <div class="navbar-header">

            <a class="navbar-text">
                Edit Page
            </a>
        </div>
    </div>
</nav>


<div class="row full-size">
    <div class="side-panel hidden-xs col-md-4 content-container">
        <div ng-repeat="page in model.pages">
            <ul class="page-list list">
                <li><a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                    {{page.name}}</a><a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}"><i class="fa fa-cog"
                                                                                                                        aria-hidden="true"></i></a>
                </li>


            </ul>

        </div>
    </div>
    <div class="col-md-8 content-container">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input ng-model="model.page.name" type="text" class="form-control" id="name" placeholder="{{model.page.name}}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea ng-model="model.page.description"class="form-control" rows="5" id="description"
                          placeholder="{{model.page.description}}"></textarea>
            </div>
        </form>

        <a ng-click="model.removePage(model.page._id)"role="button" class="btn btn-danger btn-primary btn-lg btn-block">Delete</a>

    </div>
</div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text pull-right">

            <i class="fa fa-user" aria-hidden="true"></i>

        </div>
    </div>
</nav>
