
<div class="container content-container">

    <div class="form-group">
        <label for="widget-name">Name:</label>
        <input ng-model="model.widget.name" type="text" class="form-control" id="widget-name" placeholder="{{model.widget.name}}">
    </div>
    <div class="form-group">
        <label for="widget-url">URL:</label>
        <input ng-model="model.widget.url" type="text" class="form-control" id="widget-url" placeholder="{{model.widget.url}}">
    </div>
    <div class="form-group">
        <label for="widget-width">Width:</label>
        <input  ng-model="model.widget.width" type="text" class="form-control" id="widget-width" placeholder="{{model.widget.width}}">
    </div>

    <div class="form-group">
        <label for="widget-upload"class="control-label">Upload:</label>
        <input  type="file" class="file" id="widget-upload" placeholder="No File Chosen">
    </div>
    <div class="row">
        <div class="col-md-12">
            <a role="button" class="btn btn-primary btn-lg btn-block">Upload Image</a>
        </div>

    </div>

</div>

