<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a class="navbar-link" href="../website/website-list.view.client.html">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a></p>
        <div class="navbar-header">
            <a class="navbar-text" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>


<div class="container content-container">
    <div class="row">
        <div class="col-md-6">
            <ul class="widget-type-list list">
                <li><a ng-click="model.createWidget('HEADER')" ><span>Header</span></a></li>
                <li><a ng-click="model.createWidget('HTML')"><span>HTML</span></a></li>
                <li><a ng-click="model.createWidget('IMAGE')"><span>Image</span></a></li>
                <li><a ng-click="model.createWidget('YOUTUBE')"><span>Youtube</span></a></li>


            </ul>
        </div>
    </div>
</div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text pull-right">

            <i class="fa fa-user" aria-hidden="true"></i>

        </div>
    </div>
</nav>
